@import '../../styles.scss';

.headerContainer {
  position: absolute;
  z-index: 1;
  top: 4rem;
  left: 0;
  right: 0;
  width: 100%;
  color: $whiteText;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $maxWindowWidth;
  padding: 4rem;

  .logoContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    z-index: 2;
  
    h1 {
      font-size: $fontMd;
      margin-bottom: .1rem;
    }
  }

  .searchContainer {
    svg {
      scale: 175%;
    }
  }

  @media (max-width: $breakpointMobileMedium) {
    padding: 3rem;

    .logoContainer {
      gap: 0;

      h1 {
        font-size: 2.4rem;
      }

      svg {
        scale: 75%;
      }
    }

    .searchContainer {
      svg {
        scale: 155%;
      }
    }
  }
}