@import '../../styles.scss';

.headerContainer {
  position: absolute;
  z-index: 2;
  top: 6rem;
  left: 0;
  right: 0;
  width: 100%;
  color: $whiteText;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $maxWindowWidth;
  padding: 4rem;
  z-index: 1;

  .logoContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    z-index: 2;
  
    h1 {
      font-size: $fontMd;
      margin-bottom: .1rem;
    }
  }

  .searchContainer {
    svg {
      scale: 175%;
      cursor: pointer;

      &:hover {
        path {
          transition: $transitionTimeMedium;
          fill: $primaryColor;
        }
      }
    }

    &.inactive {
      svg {
        scale: 100%;
        cursor: pointer;

        &:hover {
          path {
            transition: $transitionTimeMedium;
            stroke: $primaryColor;
          }
        }
      }
    }
  }

  @media (max-width: $breakpointMobileMedium) {
    padding: 3rem;

    .logoContainer {
      gap: 0;

      h1 {
        font-size: 2.4rem;
      }

      svg {
        scale: 75%;
      }
    }

    .searchContainer {
      svg {
        scale: 155%;
      }
    }
  }
}

.headerSearchBarContainer {
  display: none;
  transition: $transitionTimeMedium;

  &.active {
    display: inline-block;
  }

  .customSearchBar {
    position: absolute;
    height: 10rem;
    top: 40vh;
    left: 50%;
    translate: -50% -50%;
    width: calc(100% - 4rem);
    border: 1px solid $primaryColor;

    @media(max-width: $breakpointMobileLarge) {
      top: 20rem;
      height: auto;
    }
  }

  .errorContainer {
    position: absolute;
    left: 50%;
    top: 49vh;
    translate: -50% -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    @media(max-width: $breakpointMobileLarge) {
      top: 40rem;
      flex-direction: column;
      padding: 0 4rem;
    }
    
    .errorMessage {
      font-size: $fontXs;
      color: $errorText;
      text-align: center;
    }
  }
}

.searchModal {
  position: absolute;
  height: 100vh;
  max-height: --webkit-fill-available;
  width: 100%;
  top: -6rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.90);
}