@import '../../styles.scss';

.searchBarContainer {
  position: relative;
  width: 100%;
  max-width: 75rem;

  .searchForm {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .breakLine {
      height: 100%;
      width: .1rem;
      background-color: $lineColor;
    }

    @media (max-width: $breakpointMobileLarge) {
      flex-direction: column;
      height: 23rem;
      margin: 0;

      .breakLine {
        display: none;
      }
    
      .searchBtn {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
}