@import '../styles.scss';

.rootContainer {
  position: relative;
  height: 100vh;
  max-height: --webkit-fill-available;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;

  @media(max-width: $breakpointMobileLarge) {
    padding: 0 1.5rem;
  }
}

.textContent {
  position: absolute;
  top: 15rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: $fontLg;
    font-weight: 800;
    color: $whiteText;
    letter-spacing: .1rem;
  }

  p {
    padding-top: .5rem;
    font-size: $fontSm;
    color: $greyText;
    text-align: center;
  }

  @media (max-width: $breakpointMobileLarge) {
    top: 7rem;

    h1 {
      font-size: $fontMd;
    }

    p {
      font-size: $fontSm;
      margin-top: .5rem;
    }
  }
}

.descriptionContent {
  font-size: $fontXs;
  color: $greyText;
  text-align: center;
  padding: 0 1rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  @media (max-width: $breakPointTablet) {
    flex-direction: column;
  }

  span {
    color: $primaryColor;
  }

  .errorMessage {
    color: $errorText
  }

  @media(max-width: $breakpointMobileLarge) {
    position: absolute;
    top: 75%;
    left: 50%;
    translate: -50% -50%;
    width: calc(100% - 4rem);
    padding: 0 2rem;
  }

  @media(max-width: $breakpointMobileSmall) {
    top: 80%;
  }
}