$primaryColor: #3372EE;
$whiteText: #FDFDFD;
$greyText: #717378;
$errorText: #EC4747;
$primaryHover: #295EC6;
$lineColor: #3D3E47;

$pageBg: #2C2D36;
$cardBg: #212227;

$shadowBox: .6rem .6rem 2.5rem .6rem rgba(0, 0, 0, 0.2);
$shadowBtn: 0 0 1.8rem #163D8A;

$fontXl: 7.8rem;
$fontLg: 4.8rem;
$fontMd: 3.2rem;
$fontSm: 1.7rem;
$fontXs: 1.4rem;

$borderRadiusSmall: .6rem;

$transitionTimeFast: 75ms;
$transitionTimeMedium: 150ms;
$transitionTimeSlow: 350ms;

$breakPointTablet: 740px;
$breakpointMobileLarge: 640px;
$breakpointMobileMedium: 460px;
$breakpointMobileSmall: 385px;

$maxWindowWidth: 160rem;