$primaryColor: #3372EE;
$whiteText: #FDFDFD;
$greyText: #717378;
$errorText: #EC4747;
$primaryHover: #295EC6;
$lineColor: #3D3E47;

$pageBg: #2C2D36;
$cardBg: #212227;

$shadowBox: .6rem .6rem 2.5rem .6rem rgba(0, 0, 0, 0.2);
$shadowBtn: 0 0 1.8rem #163D8A;

$borderRadiusSmall: .6rem;

$transitionTimeFast: 75ms;
$transitionTimeMedium: 150ms;
$transitionTimeSlow: 350ms;

$breakpointMobileLarge: 640px;
$breakpointMobileMedium: 460px;
$breakpointMobileSmall: 385px;