@import '../../styles.scss';

.backBtn {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: $fontSm;
  color: $whiteText;
  font-weight: 600;
  transition: $transitionTimeMedium;
  cursor: pointer;

  .btnCircle {
    border: .3rem solid $whiteText;
    border-radius: 10rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transitionTimeMedium;

    svg {
      path {
        transition: $transitionTimeMedium;
      }
    }

    @media (max-width: $breakpointMobileLarge) {
      border-width: .2rem;
      width: 3rem;
      height: 3rem;

      svg {
        scale: 75%;
      }
    }
  }

  &:hover {
    color: $primaryHover;

    .btnCircle {
      border-color: $primaryHover;

      svg {
        path {
          fill: $primaryHover;
        }
      }
    }
  }
}